<div class="mainBlock" [ngStyle]="{ 'background-image': 'url(' + background + ')' }">
  <div class="header">
    <div class="marquee">
      <div class="marquee__inner">
        @for (_ of repeat; track $index) {
        <span>ПОГОДА В УКРАЇНІ</span>
        }
      </div>
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput [formControl]="myControl" [matAutocomplete]="auto" />

    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayCity"
      (optionSelected)="get($event.option.value)"
    >
      @for ( city of filteredCities | async; track $index) {
      <mat-option [value]="city">
        {{ city.name }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  @if (weather | async; as weatherObject) {
  <div class="allInformation">
    <p>Tемпература повітря максимальна {{ tempMax }}</p>
    <p>Tемпература повітря мінімальна {{ tempMin }}</p>
    <button class="buttonDetails" (click)="goToWeatherDetail(weatherObject)">DETAILS</button>
  </div>
  }
</div>
