.mainBlock {
    width: 100%;
    height: 100%;
    background-color: #f8eef2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header {
    width: 100%;
    position: fixed;
    height: 50px;
    background: #f8eef2;
    overflow: hidden;
    display: flex;
    align-items: center;
    top: 0px;
    border-bottom: solid 1px plum;
    
}

.marquee {
    width: 100%;
    overflow: hidden;
}

.marquee__inner {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.marquee__inner span {
    font-weight: bold;
    color: blueviolet;
    display: inline-block;
    padding-right: 40px;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}


.allInformation {
    background-color: #f8eef2;
    border: solid 1px plum;
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.allInformation p {
    font-family: 'Courier New', Courier, monospace;
    
}

.buttonDetails{ 
    width: 200px;
    height: 30px;
    color: blueviolet;
    background-color: #f8eef2;
    border: solid 1px plum;
    border-radius: 10px;
    font-weight: bold
}

.buttonDetails:hover{
    background-color: plum
}