.mainBlock {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header {
    width: 100%;
    position: fixed;
    height: 50px;
    background: antiquewhite;
    overflow: hidden;
    display: flex;
    align-items: center;
    top: 0px
}

.marquee {
    width: 100%;
    overflow: hidden;
}

.marquee__inner {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.marquee__inner span {
    font-weight: bold;
    color: blue;
    display: inline-block;
    padding-right: 40px;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}


.allInformation {
    background-color: antiquewhite;
    border: solid 1px black;
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}